<section class="header-section">
    <div class="header-div">
        <div class="logo-div">
            <a href="/getList">
                <img src="/static/logo.png" id="logo" alt="NG-LOGO">
            </a>
        </div>
        <h2>
            Laptop Inventory
            <br>
            <!-- <span>Dharamsala Campus</span> -->
        </h2>
        <div class="admin-div">
            <a href="/getAdmin">
                <h4>Admin</h4>
            </a>
        </div>
    </div>
</section>